<html>
    <head>
    	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <!-- include socket.io client js -->
        <script src="/socket.io/socket.io.js"></script>
        <script>
        $(function(){
            //establish websocket connection with server
            var iosocket = io.connect('/<%= (room=='default'?'':room)%>');
            iosocket.on('connect', function () {
                $('#incomingChatMessages').append($('<li class="alert">Connected</li>'));
                
                //when received message from server
                iosocket.on('message', function(data) {
                    var icm = $('<li class="active"></li>');
                    $('#incomingChatMessages').append(icm.text(data.user + ': ' + data.message));
                    setTimeout(function() { icm.removeClass('active') }, 1500);
                    $('#chat-ctnr').scrollTop($('#incomingChatMessages').height() + 100 );
                });
        
                iosocket.on('disconnect', function() {
                	iosocket.on('message', null);
                    $('#incomingChatMessages').append('<li class="alert">Disconnected</li>');
                });
            });

            $('#outgoingChatMessage').keypress(function(event) {
                if(event.which == 13) {
                    event.preventDefault();
                    
                    //check for empty string.
                    if($(this).val() === "") {
                    	alert("Please type in chat message"); 
                    	return false;
                    }
          
                    //send message to chat server
                    iosocket.emit('msg', { user: '<%=user.name%>', message: $('#outgoingChatMessage').val()});
                    var ocm = $('<li class="active"></li>');
                    $('#incomingChatMessages').append(ocm.text('<%=user.name%>: ' + $('#outgoingChatMessage').val()));
                    $('#chat-ctnr').scrollTop($('#incomingChatMessages').height() + 100 );
                    setTimeout(function() { ocm.removeClass('active') }, 1500);

                    $('#outgoingChatMessage').val('');
                 }
            });
        });
        </script>
    </head>
    <body>
        <div class="alert">Welcome <%= user.name%> to room: <%= room%> </div>
        <div id="ic">Incoming Chat:</div>
        <div id="chat-ctnr">
            <ul id="incomingChatMessages"></ul>
        </div>
        <input type="text" id="outgoingChatMessage">
        <br/>
        <a href="/logout">logout</a>
    </body>
</html>
